*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{

  font-size: 18px;
  color: white;
  font-family: Helvetica;
}

/*HEADER SECTION*/
header{
  background-color: black;
  color: white;
  position:fixed;
  width: 100%;
  top:0;
}
.header-content{
  display:flex;
  align-items: center;
  font-size: 1rem;
  margin-left: 12%;
}
.header-content h5{
  margin: .66rem auto .66rem .5rem;
}
.header-content img{
  height:1.5rem;
  margin: .66rem .5rem;
}
/*END HEADER SECTION*/

/*MAIN CONTAINER SECTION START*/
.main-container{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display:flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.message-box{
  align-self: flex-start;
  background-color: black;
  font-weight: bold;
  width: 23rem;
  margin: 12% 5% auto 10%;
}
.message-box h4{
  font-size: 2rem;
  margin: .25rem auto 1.80rem 3rem;
}
.message-box h5{
  font-size: 1rem;
  margin: 2rem auto .25rem 3rem;
}
/*.item-nav{
width: 100%;
background-color: firebrick;
}*/


.nav-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: firebrick;
  }

.browser-nav{
  display:flex;
  justify-content: flex-start;
  width: 100% ;
list-style: none;
}
nav li{

  margin: 0.75rem auto;
}
.mobile-nav{
  display: none;
}
/*MAIN CONTAINER SECTION END*/
/*ITEMS AND LOCATION SECTION START*/

.item-location-container{
  background-color: white;
}
.item-container{
  display: flex;
  justify-content: space-around;

}
.item {
  display:flex;
  border: black solid 4px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 4rem;
}
.item img{
  height: 9rem;
  margin: 2rem 1rem;
  max-width: 8em;
}
.item p{
  background-color: black;
  width: 100%;
  height: 10%;
  text-align: center;
  margin: .5rem auto 0 auto;
  padding-top: .25rem;
}

.mobile-item-container{
  display: none;
}
/*LOCATION SECTION*/
.location-container{
  display: flex;
  justify-content: space-around;
  margin:4rem 0 0 4rem;
}
.location{
  width:30%;
  height:auto;

}
.location h4{
  background-color: black;
  height: 2rem;
  padding: 7px 0 0 40px;
}
.location-container p{
  color: black;
}
/*END LOCATIONS AND HOURS SECTION*/
/*FOOTER SECTION START*/


footer{
  display: flex;
  align-items: center;
  padding-left: 12%;
  margin-top: 4rem;
  background-color: black;
  height: 5rem;
  text-align: left;
}
/*FOOTER SECTION END*/

/************MEDIA QUERIES*************/

@media only screen and (max-width: 1024px){
   .mobile-nav{
     display: block;
     text-align: center;
     list-style: none;
   }
   .browser-nav{
     display:none;
   }
   .item-container{
     display: none;
   }
   .mobile-item-container{
     display: flex;
     justify-content: space-around;

   }
   .mobile-item{
     display:flex;
     border: black solid 4px;
     width: 80%;
     flex-direction: column;

     align-items: center;
     margin: 3rem 1rem;
   }
   .mobile-item img{
     justify-content:center;

     height: 9rem;
     margin: 2rem 1rem;
     max-width: 9em;
   }
   .mobile-item p{
     background-color: black;
     width: 100%;
     height: 10%;
     text-align: center;
     margin: .5rem auto 0 auto;
     padding-top: .25rem;
   }
   .location-container{
     margin: 3rem 0 0 4rem;
   }
}

@media only screen and (max-width: 501px){
  .main-container{
    background-image: url("C:/Users/joshy/OneDrive/Documents/projects/SecretAgentSupply/resources/images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
  /*  display:flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;*/
  }

    .message-box{
      display: block;
      position:relative;
      bottom: 0;
      background-color: black;
      font-weight: bold;
      width: 23rem;
      margin: 45% auto auto auto;
}
.header-content{
  display:flex;
  align-items: center;
  font-size: 1rem;
  margin-left: 0;
}
.item-container{
  display: block;


}
.item {
  display:flex;
  border: black solid 4px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.mobile-item{
  display: none;

}
.location-container{
  display: flex;
  flex-direction: column;
  margin:4rem auto;
}
.location{
  width:90%;
  height:auto;
  margin: 30px auto;
}
.location h4{
  background-color: black;
  height: 2rem;
  padding: 7px 0 0 40px;
}
.message-box h5{
  font-size: 1rem;
  margin: 2rem auto 2rem 3rem;
}
.mobile-item img {
    justify-content: center;
    height: 8rem;
    margin: 2rem 1rem;
    max-width:
}
}
